RewriteEngine On

# Rewrite "post/12" to "post.php?id=12"
RewriteRule ^post/([^/]+)/?$ post.php?slug=$1 [L,QSA]

# Remove .php extension
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^\.]+)$ $1.php [NC,L]
 